:root {
  --cor-txt-principal: #19203e;
  --cor-bckg-principal: #fff4eb;
}

body {
  margin: 0px;
  font-family: "Oswald", Helvetica, sans-serif;
  color: var(--cor-txt-principal);
}
h1,
h2,
h3,
p {
  margin: 0px;
}
ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
img {
  max-width: 100%;
  display: block;
}
.subtitulo {
  font-size: 8.1rem;
  line-height: 1;
  word-break: break-all;
  text-transform: uppercase;
  max-width: 4ch;
}
@media (max-width: 800px) {
  .subtitulo {
    font-size: 3rem;
    text-transform: capitalize;
    max-width: initial !important;
  }
}
